/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "growlyflash";

p, h3, h1, h2 {
  color:#484848 !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.image-show {
  margin-top: -29px;
  width:100%;
  height:700px;
}

.carousel-inner {
  height:700px;
  margin-top: -20px;
}

.room-section {
  margin-top:20px;
  padding-bottom:20px;
  width:100%;
}

.fa {

}

.show-content {
  background-color: #F5F5F5;
  margin-top: -20px;
  border-top:1px solid #999;
}

.show-content-text {
  margin-left: 20%;

  padding:10px;
}

#notice {
  margin-bottom: 0px;
}

.search-form {
  max-width:500px;
}
